<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/src/assets/images/favicon.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- HTML Meta Tags -->
    <title>Investment Simulator</title>
    <meta
      name="description"
      content="Simulate investments and track your portfolio with ease."
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://<%- deployUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Investment Simulator" />
    <meta
      property="og:description"
      content="Simulate investments and track your portfolio with ease."
    />
    <meta property="og:image" content="https://<%- deployUrl %>/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://<%- deployUrl %>" />
    <meta property="twitter:title" content="Investment Simulator" />
    <meta
      property="twitter:description"
      content="Simulate investments and track your portfolio with ease."
    />
    <meta property="twitter:site" content="@morellodev" />
    <meta
      name="twitter:image"
      content="https://<%- deployUrl %>/og-image.png"
    />
  </head>
  <body class="antialiased selection:bg-lime-300 selection:text-lime-900">
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
